---

- name: Load {{ ansible_os_family }} handlers
  ansible.builtin.import_tasks: "{{ ansible_os_family }}.yml"

- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
    enabled: true
