
- hosts: all
  gather_facts: true

  pre_tasks:
    - name: Gather package facts
      ansible.builtin.package_facts:
        manager: auto

- name:  
  hosts: masters
  roles:
    - apt-mirror-master

- name:  
  hosts: nodes
  roles:
    - apt-mirror-client
