deb http://{{ MASTER }}/debian bookworm main contrib non-free-firmware
deb http://{{ MASTER }}/debian bookworm-updates main contrib non-free-firmware
deb http://{{ MASTER }}/debian-security bookworm-security main contrib non-free-firmware
