---

- name: NFS Firewall Setup
  community.general.ufw:
    rule: allow
    from_ip: "{{ INTERNAL_NETWORK }}/{{ MASK }}"
    to_port: nfs
    proto: tcp
  when:
    - ansible_facts.services is defined
    - ansible_facts.services['ufw.service'] is defined
    - ansible_facts.services['ufw.service'].state == 'running'