[local-rocky9-baseos]
name=Local Rocky 9 BaseOS
baseurl=http://{{ MASTER }}/rocky9/rocky9-baseos
enabled=1
gpgcheck=1
gpgkey=https://dl.rockylinux.org/pub/rocky/RPM-GPG-KEY-Rocky-9

[local-rocky9-appstream]
name=Local Rocky 9 AppStream
baseurl=http://{{ MASTER }}/rocky9/rocky9-appstream
enabled=1
gpgcheck=1
gpgkey=https://dl.rockylinux.org/pub/rocky/RPM-GPG-KEY-Rocky-9

[local-rocky9-crb]
name=Local Rocky 9 AppStream
baseurl=http://{{ MASTER }}/rocky9/rocky9-appstream
enabled=0
gpgcheck=1
gpgkey=https://dl.rockylinux.org/pub/rocky/RPM-GPG-KEY-Rocky-9

[local-rocky9-extras]
name=Local Rocky 9 AppStream
baseurl=http://{{ MASTER }}/rocky9/rocky9-appstream
enabled=0
gpgcheck=1
gpgkey=https://dl.rockylinux.org/pub/rocky/RPM-GPG-KEY-Rocky-9
