---

- name: Load {{ ansible_os_family }} handlers
  ansible.builtin.import_tasks: "{{ ansible_os_family }}.yml"

- name: Start nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true

- name: Reload nginx
  ansible.builtin.service:
    name: nginx
    state: reloaded