---

- name: Allow HTTP from internal network
  ansible.posix.firewalld:
    # zone: internal
    service: http #80
    permanent: true
    state: enabled
    immediate: true
  when: 
    - ansible_facts.services is defined
    - ansible_facts.services['firewalld.service'] is defined
    - ansible_facts.services['firewalld.service'].state == 'running'