- name: SLURM Firewall Setup
  firewalld:
    zone: internal
    port: "{{ item }}"
    state: enabled
    permanent: yes
    immediate: true
  loop:
    - "{{ SLURMD_PORT }}/tcp"
    - "{{ SLURMCTLD_PORT }}/tcp"
  when:
    - ansible_facts.services is defined
    - ansible_facts.services['firewalld.service'] is defined
    - ansible_facts.services['firewalld.service'].state == 'running'