---

- name: Worker node Firewall Setup
  community.general.ufw:
    rule: allow
    from_ip: "{{ INTERNAL_NETWORK }}/{{ MASK }}"
    to_port: "{{ item.port }}"
    proto: "{{ item.proto }}"
  loop:
    - { port: 10250, proto: tcp } # Kubelet API
    - { port: 10256, proto: tcp } # kube-proxy
    - { port: 30000-32767, proto: tcp } # NodePort Services
    - { port: 30000-32767, proto: udp } # NodePort Services
  when: 
    - ansible_facts.services is defined
    - ansible_facts.services['ufw.service'] is defined
    - ansible_facts.services['ufw.service'].state == 'running'
