---

- name: Load OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"

- name: Install packages
  ansible.builtin.package:
    name: "{{ packages }}"
    state: present
    
- name: Ensure needed directories exists
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ repos_path }}/{{ repo_name }}"
    - "{{ nginx_path }}"
    - /var/log

- name: Configure repos
  template:
    src: "{{ ansible_os_family }}/config.repo.j2"
    dest: "{{ repo_config_dest }}"
    force: true
    backup: true
  notify:
    - Reload nginx

- name: Get Repos/Packages
  ansible.builtin.shell:
    "{{ mirror_command }}"

- name: Serve the Repos via Nginx
  ansible.builtin.file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  notify: Restart nginx
  loop: "{{ repos_links }}"

- name: SELinux configuration
  ansible.builtin.shell: |
    semanage fcontext -a -t httpd_sys_content_t "{{ repos_path }}(/.*)?"
    restorecon -Rv {{ repos_path }}
  when: ansible_os_family == "RedHat"

- name: Configure nginx server
  template:
    src: "{{ ansible_os_family }}/nginx.conf.j2"
    dest: /etc/nginx/conf.d/default.conf
    force: true
    backup: true
  notify:
    - Reload nginx

- name: Automate Repos Sync
  ansible.builtin.cron:
    name: "Sync repo"
    hour: "2"
    minute: "0"
    job: '{{ mirror_command }} > /var/log/{{ repo_name }}.log'