---

- name: Load OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"

- name: Install dependencies
  ansible.builtin.package:
    pkg: "{{ packages }}"
    state: present
  changed_when: true
  notify: "NFS Firewall Setup"

- name: Create shared folder
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: nobody
    group: "{{ owner }}"
    mode: "0775"
  loop: "{{ shared_folders }}"

- name: Add network to nfs file
  ansible.builtin.lineinfile:
    path: /etc/exports
    line: "{{ item }} {{ INTERNAL_NETWORK }}(rw,sync,no_subtree_check)"
    state: present
    create: yes
  loop: "{{ shared_folders }}"

- name: export
  ansible.builtin.shell:
    cmd: exportfs -r

- name: Enable & start nfs server  
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: yes
    state: restarted
  loop: "{{ nfs_services }}"