- name: Set global failure flag
  set_fact:
    global_failed: false

- name: Assert 
  assert:
    that: 
      - "minID|int <= maxID|int"

- name: Check if UID already exists
  ansible.builtin.shell: getent passwd {{ minID }} || getent group {{ minID }}
  register: uid_check
  ignore_errors: true

- name: Set local failure flag
  set_fact:
    global_failed: true
  when: uid_check.rc == 0

- name: Set global failure flag
  set_fact:
    global_failed: "{{ global_failed or hostvars[ item ]['global_failed']}}"
  loop: "{{ ansible_play_hosts_all }}"

- name: increment ID
  ansible.builtin.set_fact:
    minID: "{{ minID|int + 1 }}"
  when: global_failed

- name:
  ansible.builtin.include_tasks: getID.yml
  when: global_failed