- name: Check if UID already exists on master
  ansible.builtin.shell: getent passwd {{ item }} || getent group {{ item }}
  register: uid_check
  failed_when: minID == maxID and uid_check.rc == 0
  loop: "{{ range(minID, maxID, 1) | list }}"
  loop_control:
    break_when: uid_check.rc != 0
  run_once: true
  delegate_to: master

- name: update minID
  ansible.builtin.set_fact:
    minID: "{{ uid_check.results[-1].item }}"

- name: Assert 
  assert:
    that: 
      - "minID <= maxID"
    fail_msg: "Couldn't find Available UID | GID"
    # success_msg: 

- name: 
  block:
    - name: Check if UID already exists on on other machines
      ansible.builtin.shell: getent passwd {{ uid_check.results[-1].item }} || getent group {{ uid_check.results[-1].item }}
      register: uid_node_check
      failed_when: uid_node_check.rc == 0
      any_errors_fatal: true

  rescue:
    - name: update minID
      ansible.builtin.set_fact:
        minID: "{{ minID + 1 }}"

    - name:
      ansible.builtin.include_tasks: getID.yml